.map{


	svg{
		width: 100%;
		height: 100%;
		position: relative;
		left: -10%;
	}

	&--state{
		cursor: pointer;
	}

	&--red{
		fill: red;
	}

	&--blue{
		fill: blue;
	}

	&--purple{
		fill: purple;
	}

	&--green{

		&__red{
			fill: pink;
		}

		&__blue{
			fill: lightblue;
		}
	}
}



.bar{

	margin: 5rem 0;
	text-align: center;

	&--graph{
		height: 5rem;
		width: 80%;
		margin: 0 auto;
		position: relative;

		&::before{
			content: '';
			height: 100%;
			width: 0.5rem;
			background: black;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}