.map{


	&--state{
		cursor: pointer;
	}

	&--red{
		fill: red;
	}

	&--blue{
		fill: blue;
	}

	&--purple{
		fill: purple;
	}

	&--green{

		&__red{
			fill: greenyellow;
		}

		&__blue{
			fill: green;
		}
	}
}