.footer{
	margin: 3rem auto 0 auto;
	width: 50%;

	&--text{
		font-size: 2rem;
		text-align: center;
	}

	&--buttons{
		margin: 2rem 0;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
}