.map{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(medium){
		flex-direction: row;
	}

	svg{
		width: 100%;
		height: 100%;
		position: relative;
		left: -10%;

		@include breakpoint(medium){
			width: 80%;
		}
	}

	&--state{
		cursor: pointer;
	}

	&--red{
		fill: red;
		background: red;
	}

	&--blue{
		fill: blue;
		background: blue;
	}

	&--purple{
		fill: purple;
		background: purple;
	}

	&--green{

		&__red{
			fill: pink;
			background: pink;
		}

		&__blue{
			fill: lightblue;
			background: lightblue;
		}
	}
}



.bar{

	margin: 5rem 0;
	text-align: center;

	&--graph{
		height: 1.5rem;
		margin: 0 auto;
		position: relative;

		@include breakpoint(medium){
			height: 3rem;
		}

		&::before{
			content: '';
			height: 100%;
			width: 0.5rem;
			background: black;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}



.legend{
	display: flex;
	flex-direction: column;
	margin: 5rem 0 0 0;

	@include breakpoint(medium){
		margin: 0;
		width: 20%;
		justify-content: center;
	}

	&--key{
		display: flex;
		margin: 0 0 1rem 0;

		&__color{
			width: 2rem;
			height: 2rem;
			margin: 0 1rem 0 0;
		}

		&__text{
			font-size: 1.5rem;
		}
	}
}