.intro{

	&--heading{
		font-size: 4rem;
		text-align: center;
	}

	&--text{
		margin: 2rem 0;
		font-size: 1.8rem;
	}

	&--red{
		color: red;
	}

	&--blue{
		color: blue;
	}

	&--other{
		color: green;
	}
}